<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Some events</h2>
                    <h3 class="section-subheading text-muted">Parcours</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">


                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Avec
                                    <br/>Votre
                                    <br/>Equipe

                                    <!-- 
                                    Part
                                    <br>Of Your
                                    <br>Story!
                                     -->
                                </h4>
                            </div>
                        </li>


<!--
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2017</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>


                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
-->


                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2017</h4>
                                    <h4 class="subheading">
                                        <a href="https://welovedevs.com/fr/articles/jeffrey-bestcoder-objective-c-de-septembre-que-ce-soit-pour-le-fun-ou-pour-situer-sa-marge-de-progression-il-faut-saisir-loccasion/">
                                        Distinction #BestCode iOS
                                        </a>
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <b>JobProd</b> (now <a href="https://welovedevs.com/fr/articles/jeffrey-bestcoder-objective-c-de-septembre-que-ce-soit-pour-le-fun-ou-pour-situer-sa-marge-de-progression-il-faut-saisir-loccasion/">WeLoveDevs</a>) organized contests
                                        <br/> &nbsp;&nbsp;&nbsp;&nbsp;
                                        to get the best candidates for job openings.
                                        <br/> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <b>Top 3</b> among 1000+ developers
                                        <br/> &nbsp;&nbsp;&nbsp;&nbsp;
                                        Thanks to my knowledge, experience and technical knowledge of the internals of the platform.
                                        
                                        <br/> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <!-- Also available on Youtube https://www.youtube.com/watch?v=ZqKbN_C4Yvg -->
                                    </p>
                                </div>
                            </div>
                        </li>



                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2016</h4>
                                    <h4 class="subheading">iOS Development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <b>Developing Apps</b> and personal projects
                                        <br/><br/>
                                        • Improving <a href="https://apps.apple.com/fr/app/cashsentinel/id778637015">iOS version</a> of app to reflect the <a href="https://play.google.com/store/apps/details?id=com.cashsentinel&hl=fr">Android version</a> of <a href="https://www.cashsentinel.com/">CashSentinel</a>.
                                        <br/><br/>
                                        • Creation of iOS app. At <a href="https://je.epfl.ch/">Junior Enterprise EPFL</a>
                                        <br/><br/>
                                        Personal projects
                                        <br/>
                                        • App component for the app Lovoo in order to gather data from the service. Result dataset and project aims <a href="https://www.kaggle.com/jmmvutu/dating-app-lovoo-user-profiles">explained here</a>.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Computer Science</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <b>iOS Development</b>
                                        
                                        <br/> &nbsp;&nbsp;&nbsp;&nbsp;
                                        Course
                                        <a href="https://itunes.apple.com/us/course/developing-ios-7-apps-for-iphone-and-ipad/id733644550" target="_blank" rel="noopener noreferrer">Developing iOS apps</a> 
                                        <br/> &nbsp;&nbsp;&nbsp;&nbsp;
                                        from Stanford University
                                        <br/> &nbsp;&nbsp;&nbsp;&nbsp;
                                        by Prof. Paul Hegarty
                                        <!-- Also available on Youtube https://www.youtube.com/watch?v=ZqKbN_C4Yvg -->

                                        <br/>
                                        
                                        <b>Computer Science courses</b>
                                        <br/> &nbsp;&nbsp;&nbsp;&nbsp;
                                            Programming, Java, C++
                                        <!-- <br/> &nbsp;&nbsp;&nbsp;&nbsp; -->
                                            <!-- - communication -->
                                        <br/> &nbsp;&nbsp;&nbsp;&nbsp;
                                            At EPFL, Switzerland
                                    </p>
                                </div>
                            </div>
                        </li>

                        <!--
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Be Part
                                    <br>Of Our
                                    <br>Story!
                                </h4>
                            </div>
                        </li>
                        -->

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <br>
                                    Autres
                                    <!-- <br>Personnels -->
                                    <!-- <br>... -->
                                    <!-- <br> -->
                                </h4>
                            </div>

                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Annexes</h4>
                                    <h4 class="subheading">Passion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <b>Support utilisateur</b> (IT)
                                        <br/>
                                        <b>Pentesting</b> (IT, Web, mobile)
                                        <br/>
                                        <b>iOS</b> Jailbreak tweaks
                                        <br/>
                                        <b>Enseignement</b> Répétiteur scolaire
                                    </p>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </section>