<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">
                        Vous avez un projet ou un besoin ?
                        <br/>
                        <br/>
                        Je vous accompagne pour le réaliser.
                    </h3>
                </div>
            </div>


            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Engineering</h4>
                    <p class="text-muted">
                        Collection, stockage et gestion de données pour votre entreprise.
                        <br/>
                        Besoin de sourcer des données pour un client ou pour une étude de marché ? Ne cherchez pas plus loin.
                        Je m'occupe d'assembler des données précises.

                        <br/>
                        Vous souhaitez dresser des profils clients ?
                        J'ai ce qu'il vous faut.
                    </p>
                </div>

                <!--
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                -->

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Développement mobile</h4>
                    <p class="text-muted">
                        - Mon <a href="https://welovedevs.com/fr/articles/jeffrey-bestcoder-objective-c-de-septembre-que-ce-soit-pour-le-fun-ou-pour-situer-sa-marge-de-progression-il-faut-saisir-loccasion/">expertise en développement iOS</a> <br/>
                        - Développement mobile multi-plateforme: vous bénéficiez du développement d'une application pour Android et iOS avec 1 seul développeur au lieu de 2, avec 1 seule base de code.

                        <br/><br/>

                        <b>Technologies</b> <br/>
                          - <b>iOS:</b> Swift, Objective-C, Flutter/Dart<br/>
                          - <b>Android:</b> Flutter/Dart<br/>

                          - <b>Web:</b> Bootstrap, React, <br/>
                          - <b>MacOS:</b> Swift, Objective-C<br/>
                          - <b>Automatisation:</b> Workflows, Scripts, Tests, Maintenance<br/>
                    </p>
                </div>


                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Securité</h4>
                    <p class="text-muted">
                        Tests de sécurité de vos applications mobiles.
                        Recherche de failles avant que celles-ci ne soient découvertes (et exploitées) par des pirates.
                    </p>
                </div>
                
            </div>


            <div class="row text-center">
                
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design et Médiamatique</h4>
                    <p class="text-muted">
                        Passion pour le design et la retouche de phot pour des flyers ou des évennements.
                        Photoshop et Vidéo.
                    </p>
                </div>
                

                <!--
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">
                        Données précises sur l'achat et la revente de ...
                    </p>
                </div>
                -->

                <!--
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Securité</h4>
                    <p class="text-muted">
                        Tests de sécurité de vos applications mobiles.
                        Recherche de failles avant que celles-ci ne soient découvertes (et exploitées) par des pirates ayant de mauvaises intentions.
                    </p>
                </div>
                
                -->
            </div>

        </div>
    </section>